@page "/"
@using System.IO
@using System.Net.Http
@using System.Text
@using System.Xml;
@inject HttpClient _client


<h3>Validation is hapening on OnInitializedAsync (no linking).</h3>
<br/> <br/>
<h3>Validation message:</h3>
@ValidationResult

@code{
    string ValidationResult="All good";
    protected override async Task OnInitializedAsync()
    {
        string path = "sample-data/Books.xml";
        byte[] byteArrayS = await _client.GetByteArrayAsync(path);
        Console.WriteLine($"{path}: {byteArrayS.Length}");
        MemoryStream streamS = new MemoryStream(byteArrayS);
        XmlReader xmlReader = XmlReader.Create(streamS);

        XmlDocument document = new XmlDocument();
        //document.Validate();
        try
        {
            document.Load(xmlReader);
        }
        catch (Exception e)
        {

            Console.WriteLine($"Validation Error: {e.Message} on line ");
            ValidationResult = e.Message;
        }
    }


}