@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4" id="navTop">

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">XML Validation Test</span>
            </NavLink>
            <a href="#" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
